
@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>
<div>
    <br />
    <a asp-action="NomineeList" class="btn btn-default"style="color: white;background-color: black; ">Redigera listan med Nominerade</a>
</div>
<div>
    <br />
    <a asp-action="NomineeScore" class="btn btn-default"style="color: white;background-color: black; ">Resultat från röstning</a>
</div>
<div>
    <br />
    <a asp-action="InsertNominee" class="btn btn-default" style="color: white;background-color: black; ">Lägg till Nominerade</a>
</div>
<div>
    <br />
    <a asp-action="ViewAttending" class="btn btn-default"style="color: white;background-color: black; ">Visa anmälningar</a>
</div>


