
@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>
<thead>
    <tr>

        <th>
            <a asp-action="NomineeList" class="btn btn-default">Redigera listan med Nominerade</a>
        </th>
        <th>
            <a asp-action="NomineeScore" class="btn btn-default">Resultat från röstning</a>

        </th>
        <th>
            <a asp-action="InsertNominee" class="btn btn-default">Lägg till Nominerade</a>

        </th>
    </tr>
</thead>

