@model WebApplication1.Models.AttendingDetail

@{
    ViewData["Title"] = "Attend";
}

<h2>Anmälan till IDag</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Attend">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="Attending_User" class="control-label"></label>
                <input asp-for="Attending_User" class="form-control" />
                <span asp-validation-for="Attending_User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attending_Firstname" class="control-label"></label>
                <input asp-for="Attending_Firstname" class="form-control" />
                <span asp-validation-for="Attending_Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attending_Lastname" class="control-label"></label>
                <input asp-for="Attending_Lastname" class="form-control" />
                <span asp-validation-for="Attending_Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attending_Class" class="control-label"></label>
                <input asp-for="Attending_Class" class="form-control" />
                <span asp-validation-for="Attending_Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attending_Foodpref" class="control-label"></label>
                <textarea asp-for="Attending_Foodpref" class="form-control"></textarea>
                <span asp-validation-for="Attending_Foodpref" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Anmäl" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

