@model WebApplication1.Models.NomineeDetail

@{
    ViewData["Title"] = "EditNominee";
}

<h2>EditNominee</h2>

<h4>NomineeDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditNominee">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nominee_FirstName" class="control-label"></label>
                <input asp-for="Nominee_FirstName" class="form-control" />
                <span asp-validation-for="Nominee_FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nominee_LastName" class="control-label"></label>
                <input asp-for="Nominee_LastName" class="form-control" />
                <span asp-validation-for="Nominee_LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nominee_ImgLink" class="control-label"></label>
                <input asp-for="Nominee_ImgLink" class="form-control" />
                <span asp-validation-for="Nominee_ImgLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nominee_Votes" class="control-label"></label>
                <input asp-for="Nominee_Votes" class="form-control" />
                <span asp-validation-for="Nominee_Votes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="NomineeList">Back to List</a>
</div>
