@{
    ViewData["Title"] = "Home Page";
}

<h1>OM IDAG</h1>

<h4>
    IDag är en arbetsmarknadsdag bara för oss på programmet för Interaktion och design, med inbjudna företag som är relevanta för oss. De berättar om vad de gör, vilka möjligheter som finns och gör det lättare för oss att se vår roll i det kommande arbetslivet. En alumn, det vill säga en före detta ID-student, kommer också och ger tips och berättar om sina egna erfarenheter. Detta brukar vara inspirerande för såväl nya studenter som de lite äldre.


    I år kommer IDag återigen att hållas på Sliperiet. Sliperiet är en del av Umeå universitet, beläget nere på Konstnärligt campus intill Umeälven. Här möter du studenter, entreprenörer, forskare och kreatörer i en stark innovationsmiljö, med verkstäder för experimenterade och idéutveckling.


    Det serveras också lunch och bjuds på fika under dagen som avslutas med en bankett med temat LASVEGAS. För att få lunchen gratis måste du kunna visa att du är student. Alla vanliga studentlegitimationer gäller, t.ex Mecenat, Studentkortet eller registreringsintyg.


    Årets officiella hashtagg är #IDagInatt19.
</h4>
<a asp-action="Attend" class="btn btn-default">Anmäl dig här!</a>


<h1>Rösta på årets IDare</h1>
<p>För att få en säkrare och anonym röstning så loggar ni in på nästa sida med erat cas användarnamn.</p>

<a asp-action="NomineesToVoteOn" class="btn btn-default">Rösta</a>
