@{
    ViewData["Title"] = "Home Page";
}

<h1>Rösta på årets IDare</h1>
<p>För att få en säkrare och anonym röstning så loggar ni in på nästa sida med erat cas användarnamn.</p>

<a asp-action="Login" class="btn btn-default">Rösta</a>
