@model WebApplication1.Models.NomineeDetail

@{
    ViewData["Title"] = "InsertNominee";
}
<br />
<a asp-action="NomineeList" class="btn btn-default" style="color: white;background-color: black; font-weight:bolder; ">Redigera listan med Nominerade</a>
<a asp-action="NomineeScore" class="btn btn-default" style="color: white;background-color: black;font-weight:bolder; ">Resultat från röstning</a>
<a asp-action="InsertNominee" class="btn btn-default" style="color: white;background-color: gray;font-weight:bolder; ">Lägg till Nominerade</a>
<a asp-action="ViewAttending" class="btn btn-default" style="color: white;background-color: black;font-weight:bolder; ">Visa anmälningar</a>
<a asp-action="AllUsers" class="btn btn-default" style="color: white;background-color: black;font-weight:bolder; ">Visa användare</a>

<h2>InsertNominee</h2>

<h4>NomineeDetail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="InsertNominee" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nominee_FirstName" class="control-label"></label>
                <input asp-for="Nominee_FirstName" class="form-control" />
                <span asp-validation-for="Nominee_FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nominee_LastName" class="control-label"></label>
                <input asp-for="Nominee_LastName" class="form-control" />
                <span asp-validation-for="Nominee_LastName" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Nominee_ImgLink" class="control-label"></label>
                <input type="file" name="file" />
            </div>

            <input type="submit" value="Create" class="btn btn-default" />

        </form>
    </div>
</div>

<div>
    <a asp-action="NomineeList">Tillbaka till nomineringslistan</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
