
@{
    ViewData["Title"] = "LogOut";
}

<h2>Du är nu utloggad!</h2>

<h3>Vill du logga in igen tryck på knappen nedan för att komma till logga in</h3>
<br />
<a asp-action="Login" class="btn btn-default" style="color: white;background-color: black; font-weight:bolder; ">Logga in</a>


